.footer {
    width: 100%;
    background: {
        color: yellow;
    }
}

.socialMedia {
    width: 30%;
    background: {
        // color: gray;
    }
    img {
        margin: 0.5rem;
        width: 30px;
    }
}