@import "../mixins/mixins.scss";
@import "../variables/variables.scss";
.head {
    @include head;
}
button{
    cursor: pointer;
}
.primera {
    padding: 0.5rem;
    width: 100%;
    background: {
        color: white;
    }
}

.segunda {
    width: 100%;
    background: {
        // color: pink;
    }
}
