@import "../mixins/mixins.scss";
@import "../variables/variables.scss";
.head {
    @include head;
}
button{
    cursor: pointer;
}

.repertorio {
    padding: 1rem;
    background: {
        color: lightblue;
    }
}
    p {
        font: {
                        size: 3.0rem;
        }
    }
    hr {
        background: {
            color: black;
        }
        height: 0.25rem;
    }
    .tipo {
        overflow: auto;
        margin-bottom: 3rem;
        display: flex;
        width: 20%;
        // margin: 20px auto;
        list-style: none;
        background: {
            // color: white;
        }
    }
    .fila {
        display: flex;
        margin: 0.6rem;
        border: 0.4rem solid #eeeeee;
        box-shadow: $sombreadoTotal;
        background: {
            // color: yellow;
        }
        .tn {
            cursor: pointer;
            height: 15rem;
            background: {
                // color: black;
            }
        }
    }

