@import "../../mixins/mixins.scss";
@import "../../variables/variables.scss";
.biografia {
  padding: 0rem 5rem 0rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  hr {
    width: 100%;
    background-color: $negro;
    height: 0.3rem;
    margin: 0rem 0rem 4rem 0rem ;
  }
  .contenido {
    display: flex;
    flex-direction: row;
    .historia {
        //margin: 0rem 1rem 0rem 0rem;
        // padding: 3rem;
  
        // border: 0.05rem solid $negro;
  
        width: 70%;
      }
    .biografiaCurriculum {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: {
        color: $blanco;
      }
      border: 0.05rem solid $negro;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      width: 30%;
      img {
        width: 100%;
      }
      .curriculum {
        .experiencia {
          margin: 1rem 0rem 0rem 0rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 5rem;
          background: {
          }
          border: {
          }
          .logoEx {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: lightskyblue;
            width: 100%;
            a {
              width: 20%;
              background: {
              }
              border: {
                //radius: 1rem 0rem 0rem 1rem;
              }
            }
          }
          .descripcion {
            //padding: 2rem;
           // width: 100%;
            //   display: flex;
            //   flex-direction: column;
            //   height: 100%;
            //text-overflow: ellipsis;
            //  $blanco-space: nowrap;
          }
        }
      }
    }
 
    // z-index: 1000;
    //   position: sticky;
    // position: -webkit-fixed;  // required for Safari
    //   top: 0;
    //   width: 100%;
    // height: 10vh;
    //   background-color: $corporativo;
    //   .boton {
    //     font-size: 1.75rem;
    //     font-family: Verdana, Helvetica;
    //     font-weight: bold;
    //     color: $blanco;
    //background:#638cb5;
    // border: 0px;
    // background: none;
    // color: inherit;
    // border: none;
    // padding: 0;
    // font: inherit;
    //outline: inherit;
    //width: 5rem;
    // cursor: pointer;
    //background-color: pink;;
    // color: pink;
    // margin: 0.3rem 0.5rem 0.3rem 0.5rem;
    //   }
  }
}
