@font-face {
  font-family: "FontAwesome";
  src: url("/src/assets/fonts/fontawesome-webfont.woff");
}
.container{
    .form-center{
        max-width: 550px;
        padding: 15px 30px 15px 0px;
        margin: 0 auto;
        input {
            float:left;
            width:255px;
            border:0px;
            // color:#F1F1F1;
            padding:10px 10px 10px 30px;
            font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
            margin-bottom:10px;
          }
          

input, textarea { 
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

    .name {
        background:#222222 url(http://img7.uploadhouse.com/fileuploads/17737/177370145f09fe433945815665aa214f80dbc6af.png) no-repeat 10px 8px;
      }
      .email {
        background:#222222 url(http://img6.uploadhouse.com/fileuploads/17737/177370138cc63992182149e9befabff3eafa6d23.png) no-repeat 10px 9px;
      }
      .message {
        background:#222222 url(http://img3.uploadhouse.com/fileuploads/17737/1773701229ed8c2f465a8274623ca8976adaf196.png) no-repeat 10px 8px;
      }
      .phone {
        background:#222222 url(http://img3.uploadhouse.com/fileuploads/17737/1773701229ed8c2f465a8274623ca8976adaf196.png) no-repeat 10px 8px;
      }
    }
}