* {
  margin: 0;
  padding: 0;
}
// html,
// body {
//   margin: 0;
//   border: 0;
//   font-size: 100%;
//   font: inherit;
//   vertical-align: baseline;
//   width: 100%;
//   min-height: 100%;
//   background-image: url("../../../images/backgrounds/0.jpg");
//   // background-image: url("../../../images/gifs/liquido.gif")  ;
//   background: {
//     attachment: fixed;
//     size: cover;

//     color: $gris;
//   }
// }
body {
  background-image: url("../../../images/backgrounds/0.jpg");

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  // background-color: violet;
  .container {
    width: 90%;
    height: 100vh;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .formularioContacto {
            display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      background-color: red;
.bloqueEntrada{
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  background-color: aqua;
  // width: 100%;
}

      input {
        //  width: 60%;
        border-radius: 0.5rem;
        // float:left;
        width:255px;
        // border:0px;
        // color:#F1F1F1;
        padding:10px 10px 10px 30px;
        // font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
        // margin-bottom:10px;
        background-color: aqua;
      }

      .name {
        background: #222222;
      }

      .email {
        background: #222222;
      }
      .message {
        background: #222222;
      }
      .phone {
        background: #222222;
      }
    }
  }
}
