/* ---------------hovers--------------*/
/* -----------------------------------------
         social media menu
------------------------------------------ */
.social-media {
  padding: 0.1rem 1rem 0.1rem 1rem;
  background-color: lightskyblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: row-reverse;
  /* background-color: orangered; */
}

.social-media p {
  color: #0a0a0a;
}

.social-media .social-links a {
  font-size: 2.4rem;
  display: inline-block;
  color: black;
  line-height: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.social-media .social-links a:visited {
  color: black;
}

.social-media .social-links a:hover {
  color: black;
}

/* ------------------------------------------
         menu
------------------------------------------ */
.movil {
  display: none;
}

.stick {
  top: 0;
  width: 100%;
}

.stick .nav {
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  background-color: black;
}

.stick .nav .navbar {
  padding: 0rem 1rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.stick .nav .navbar .foto {
  position: relative;
  cursor: pointer;
}

.stick .nav .navbar .foto img {
  height: 100%;
  margin-left: calc(10px + 1vw);
  border-radius: 75%;
  border: 0.05rem solid lightskyblue;
  width: calc(3vw + 3rem);
}

.stick .nav .navbar .foto img:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;
  overflow: hidden;
}

.stick .nav .navbar .menu {
  padding: 3rem 0 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.stick .nav .navbar .menu .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [x0] 0.1fr [x1] 0.1fr [x2] 0.1fr [x3] 0.1fr [x4] 0.1fr [x5] 0.1fr [x6] 0.1fr [x7] 0.1fr [x8] 0.1fr [x9] 0.1fr [x10] 0.1fr [x11];
      grid-template-columns: [x0] 0.1fr [x1] 0.1fr [x2] 0.1fr [x3] 0.1fr [x4] 0.1fr [x5] 0.1fr [x6] 0.1fr [x7] 0.1fr [x8] 0.1fr [x9] 0.1fr [x10] 0.1fr [x11];
  -ms-grid-rows: [y0] 1fr [y1];
      grid-template-rows: [y0] 1fr [y1];
  grid-column-gap: 0rem;
  grid-row-gap: 1rem;
}

.stick .nav .navbar .menu .links a {
  text-decoration: none;
}

.stick .nav .navbar .menu .links .enlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0rem 0rem 0rem 0rem;
  color: lightskyblue;
  padding: 1.6rem 0.5rem 1.6rem 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.stick .nav .navbar .menu .links .enlace p {
  color: lightskyblue;
}

.stick .nav .navbar .menu .links .irInicio {
  grid-column: x0 / x1;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .irBiografia {
  grid-column: x1 / x2;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .irWebs {
  grid-column: x2 / x3;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .irGaleria {
  grid-column: x3 / x4;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .irCurriculum {
  grid-column: x4 / x5;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .irContacto {
  grid-column: x5 / x6;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .irDisenos {
  grid-column: x6 / x7;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .irHover {
  grid-column: x7 / x8;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .irEfectos {
  grid-column: x8 / x9;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .mode {
  grid-column: x9 / x10;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .mode .noche {
  display: none;
  font-size: 4rem;
}

.stick .nav .navbar .menu .links .mode .dia {
  display: block;
  font-size: 4rem;
}

.stick .nav .navbar .menu .links .mode:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.stick .nav .navbar .menu .links .brushEstilos {
  grid-column: x10 / x11;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .brushEstilos .selecEstilosDesplegar {
  margin: 0;
  -webkit-animation-name: parpadeo;
          animation-name: parpadeo;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  font-size: 4rem;
}

.stick .nav .navbar .menu .links .brushEstilos .selecEstilosPlegar {
  font-size: 4rem;
}

.stick .nav .navbar .menu .links .brushEstilos:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.stick .nav .navbar .menu .links .irInicio:hover,
.stick .nav .navbar .menu .links .irBiografia:hover,
.stick .nav .navbar .menu .links .irWebs:hover,
.stick .nav .navbar .menu .links .irGaleria:hover,
.stick .nav .navbar .menu .links .irCurriculum:hover,
.stick .nav .navbar .menu .links .irContacto:hover,
.stick .nav .navbar .menu .links .irDisenos:hover,
.stick .nav .navbar .menu .links .irHover:hover,
.stick .nav .navbar .menu .links .irInicio:focus,
.stick .nav .navbar .menu .links .irBiografia:focus,
.stick .nav .navbar .menu .links .irWebs:focus,
.stick .nav .navbar .menu .links .irGaleria:focus,
.stick .nav .navbar .menu .links .irCurriculum:focus,
.stick .nav .navbar .menu .links .irDisenos:focus,
.stick .nav .navbar .menu .links .irHover:focus,
.stick .nav .navbar .menu .links .irContacto:focus {
  background-color: rgba(78, 78, 32, 0.582);
}

.stick .movil img {
  display: none;
}

.stick .mnav-link {
  display: none;
}

.stick .desplegable {
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav {
    display: none;
  }
  .stick {
    margin: 0rem 0rem 5rem 0rem;
  }
  .stick .movil {
    border-bottom: 0.05rem solid lightskyblue;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.438);
  }
  .stick .movil .imagenes {
    padding: calc(0.5rem + 0.5vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stick .movil .imagenes .foto {
    position: relative;
    cursor: pointer;
  }
  .stick .movil .imagenes .foto img {
    display: block;
    border-radius: 75%;
    border: 3px double lightskyblue;
    width: calc(4vw + 5rem);
    -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  }
  .stick .movil .imagenes .botones {
    border: 0;
    outline: 0 none;
    background-color: transparent;
  }
  .stick .movil .imagenes .botones .botonMenu {
    color: lightskyblue;
  }
  .stick .movil .imagenes .botones #boton1 {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: Transparent;
  }
  .stick .movil .imagenes .botones #boton1 p {
    display: block;
    font-size: calc(5vw + 5rem);
  }
  .stick .movil .imagenes .botones #boton1 .hamburger {
    margin: 0rem 2rem 0rem 0rem;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: -webkit-transform 0.5s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.5s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.5s cubic-bezier(0.05, 1.04, 0.72, 0.98), -webkit-transform 0.5s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .stick .movil .imagenes .botones #boton1 .hamburger.is-active {
    background-color: none;
  }
  .stick .movil .imagenes .botones #boton1 ._layer {
    background: lightskyblue;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 2rem;
    width: calc(5vw + 5rem);
    height: 1rem;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.5s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.5s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }
  .stick .movil .imagenes .botones #boton1 .hamburger:hover .-top {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .stick .movil .imagenes .botones #boton1 .hamburger:hover .-bottom {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  .stick .movil .imagenes .botones #boton1 .hamburger.is-active .-top {
    -webkit-transform: translateY(200%) rotate(45deg) !important;
    transform: translateY(200%) rotate(45deg) !important;
  }
  .stick .movil .imagenes .botones #boton1 .hamburger.is-active .-mid {
    opacity: 0;
  }
  .stick .movil .imagenes .botones #boton1 .hamburger.is-active .-bottom {
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
    transform: translateY(-200%) rotate(135deg) !important;
  }
  .stick .movil .imagenes .botones #boton1 .menuppal.is_active {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
  .stick .movil .imagenes .botones #boton1 .menuppal {
    background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    transition: -webkit-transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s, -webkit-transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
  }
  .stick .movil .imagenes .botones #boton1 .menuppal ul {
    margin: 0;
    padding: 0;
  }
  .stick .movil .imagenes .botones #boton1 .menuppal ul li {
    list-style: none;
    text-align: center;
    font-family: Verdadna, Arial, Helvetica;
    font-size: 1.5rem;
    line-height: 3em;
    height: 3em;
    color: #369;
    text-transform: none;
    font-weight: bold;
  }
  .stick .movil .imagenes .botones #boton1 .menuppal ul li a {
    text-decoration: none;
    color: #369;
  }
  .stick .movil .imagenes .botones #boton1 .menuppal ul li a:hover {
    text-decoration: none;
    color: #333;
  }
  .stick .movil .desplegable a {
    text-decoration: none;
  }
  .stick .movil .desplegable .brushMode {
    margin: 0rem 0rem 1rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stick .movil .desplegable .brushMode .mode {
    cursor: pointer;
  }
  .stick .movil .desplegable .brushMode .mode:hover {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .stick .movil .desplegable .brushMode p {
    color: lightskyblue;
    font-size: 5rem;
  }
  .stick .movil .desplegable .brushMode .noche {
    display: none;
    color: lightskyblue;
    font-size: 5rem;
  }
  .stick .movil .desplegable .brushMode .dia {
    display: block;
    color: lightskyblue;
    font-size: 5rem;
  }
  .stick .movil .desplegable .brushMode .brushEstilos:hover {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  .stick .movil .desplegable .brushMode .selecEstilosDesplegar {
    margin: 0;
    -webkit-animation-name: parpadeo;
            animation-name: parpadeo;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    font-size: 5rem;
    color: lightskyblue;
  }
  .stick .movil .desplegable .brushMode .selecEstilosPlegar {
    -webkit-animation-name: none;
            animation-name: none;
    color: lightskyblue;
  }
  .stick .movil .desplegable .brushMode img {
    position: absolute;
    width: calc(0.1rem + 3vw);
  }
  .stick .movil .desplegable .enlace {
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 1rem;
    border: 0;
    color: lightskyblue;
    cursor: pointer;
    font-size: 3rem;
    font-color: lightskyblue;
  }
}

@media (max-width: 800px) {
  section #links {
    display: none;
  }
}

/* Y finalmente las animaciones */
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=nav.css.map */