@charset "UTF-8";
/* hovers*/
body .descripcion {
  display: flex;
  justify-content: center;
}
body .descripcion .año {
  color: #00c6ee;
}
body .descripcion h1 {
  font-size: calc(3rem + 1vw);
  color: lightskyblue;
}
body p {
  font-size: 1.5rem;
  font-size: calc(1rem + 1vw);
}
body a:visited {
  color: lightskyblue;
  font-family: arial;
  text-decoration: none;
}
body .datos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
body .datos .datosPersonales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #eeeeee;
  border: 0.2rem solid lightskyblue;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #000;
}
body .datos .datosPersonales h2 {
  color: lightskyblue;
}
body .datos .datosPersonales .foto .dni {
  width: calc(20rem + 10vw);
  border-radius: 0.5rem;
}
body .datos .datosPersonales .direccion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
body .datos .datosPersonales .direccion p {
  margin-top: 1.5rem;
}
body .datos .datosPersonales .direccion .fa {
  color: red;
}
body .datos .experiencia {
  color: #eeeeee;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.2rem solid lightskyblue;
  width: 95vw;
  background-color: black;
  border-radius: 1rem;
}
body .datos .experiencia .logotipo img {
  width: calc(20rem + 10vw);
  border-radius: 1rem 0rem 0rem 1rem;
}
body .datos .experiencia .descripcion {
  padding: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
body .datos .experiencia .titulo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-right: 3rem;
}
body .datos .experiencia .titulo img {
  height: 7rem;
  width: 7rem;
  margin-right: 1rem;
  display: block;
  text-decoration: none;
  margin-left: 30px;
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
body .datos .experiencia .titulo img:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
body .datos .interes {
  border: 0.1rem solid lightskyblue;
  width: 95vw;
  padding: 2rem;
  border-radius: 1rem;
  background-color: black;
}
body .datos .interes p {
  margin-top: 1.5rem;
}
body .datos a:link {
  text-decoration: none;
  color: #00c6ee;
}
body .datos a:visited {
  color: #00c6ee;
}
body .datos a:active {
  color: #00c6ee;
}
body .datos a:hover {
  color: #00c6ee;
}
@media only screen and (max-width: 700px) {
  body .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body h1 {
    font-size: calc(1.5rem + 4vw);
    margin-top: 5rem;
    color: lightskyblue;
  }
  body p {
    font-size: 1.5rem;
  }
  body a:visited {
    color: black;
    font-family: arial;
    text-decoration: none;
  }
  body .datos {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  body .datos .datosPersonales {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eeeeee;
    padding: 3rem;
    border: 0.1rem solid lightskyblue;
    width: 85%;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
    background-color: black;
  }
  body .datos .datosPersonales h2 {
    color: #00c6ee;
  }
  body .datos .datosPersonales .dni {
    height: auto;
    width: 100%;
    border-radius: 1rem;
  }
  body .datos .datosPersonales .direccion {
    display: flex;
    flex-direction: column;
  }
  body .datos .datosPersonales .direccion p {
    margin-top: 1.5rem;
  }
  body .datos .interes {
    border: 0.1rem solid lightskyblue;
    width: 85%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: black;
  }
  body .datos .interes p {
    margin-top: 1.5rem;
  }
  body .datos .experiencia {
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 7vh;
    margin: 0.5rem;
    width: 85%;
    border-radius: 1rem;
    background-color: black;
  }
  body .datos .experiencia .logotipo {
    overflow: hidden;
    height: auto;
  }
  body .datos .experiencia .logotipo img {
    width: 100%;
    border-radius: 0rem;
  }
  body .datos .experiencia .logotipo .corporativo {
    height: 100%;
  }
  body .datos .experiencia .descripcion {
    padding: 3rem;
    width: 100%;
  }
  body .datos .experiencia a {
    color: #00c6ee;
    text-decoration: none;
  }
  body .datos .experiencia a:hover {
    color: #00c6ee;
  }
  body .datos .experiencia .titulo {
    padding: 2rem;
  }
  body .datos .experiencia .titulo img {
    height: 7vh;
    width: 7vh;
  }
}

/*# sourceMappingURL=curriculum.css.map */
