/* ---------------hovers--------------*/
/* ------------------------------------------
         div stilos
------------------------------------------ */
.panelEstilos {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10000000;
}

.botonesEstilo {
  background-color: white;
  padding: 1rem 1rem 1rem 1rem;
}
.botonesEstilo .desplazable {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.botonesEstilo .desplazable p {
  color: #0a0a0a;
  font-size: 1.5rem;
}
.botonesEstilo .desplazable .reset p {
  margin: 0rem 0rem 0rem 0rem;
}
.botonesEstilo .desplazable .reset .resetear {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.botonesEstilo .desplazable .reset .resetear p {
  font-size: 6rem;
}
.botonesEstilo .desplazable .filasFiesta {
  margin: 0rem 0rem 1rem 0rem;
}
.botonesEstilo .desplazable .filasFiesta p {
  margin: 0rem 0rem 0rem 0rem;
}
.botonesEstilo .desplazable .filasFiesta .selecFiesta {
  margin: 0.5rem 0rem 0rem 0rem;
}
.botonesEstilo .desplazable .filasFiesta .selecFiesta .festivos {
  width: 2.4rem;
  margin: 0.5rem 0rem 0rem 0.2rem;
}
.botonesEstilo .desplazable .filasFiesta .selecFiesta .detenerFestivos {
  margin: 0;
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.botonesEstilo .desplazable .fondoPantalla p {
  margin: 0rem 0rem 0rem 0rem;
}
.botonesEstilo .desplazable .fondoPantalla .selecFondo {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: row;
}
.botonesEstilo .desplazable .fondoPantalla .selecFondo .color {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  border: 0.05rem solid #0a0a0a;
  margin: 0.7rem 0.2rem 0rem 0.2rem;
}
.botonesEstilo .desplazable .fondoPantalla .blanco {
  background: #eeeeee;
}
.botonesEstilo .desplazable .fondoPantalla .negro {
  background: #0a0a0a;
}
.botonesEstilo .desplazable .fondoPantalla .movimiento {
  background-image: url("../../../images/gifs/liquido.gif");
  background-position: center;
  background-size: cover;
}
.botonesEstilo .desplazable .filasColores p {
  margin: 0rem 0rem 0rem 0rem;
}
.botonesEstilo .desplazable .filasColores .cambioColor {
  display: flex;
  flex-direction: column;
}
.botonesEstilo .desplazable .filasColores .cambioColor .selecColor {
  display: flex;
  flex-direction: row;
}
.botonesEstilo .desplazable .filasColores .cambioColor .selecColor .color {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  border: 0.05rem solid #0a0a0a;
  margin: 0.7rem 0.2rem 0rem 0.2rem;
}
.botonesEstilo .desplazable .filasColores .cambioColor .blanco {
  background: #eeeeee;
}
.botonesEstilo .desplazable .filasColores .cambioColor .gris {
  background: #272727;
}
.botonesEstilo .desplazable .filasColores .cambioColor .amarillo {
  background: #ffff00;
}
.botonesEstilo .desplazable .filasColores .cambioColor .naranja {
  background: orangered;
}
.botonesEstilo .desplazable .filasColores .cambioColor .oro {
  background: #eabe3f;
}
.botonesEstilo .desplazable .filasColores .cambioColor .marron {
  background: #a05000;
}
.botonesEstilo .desplazable .filasColores .cambioColor .rojo {
  background: #f80000;
}
.botonesEstilo .desplazable .filasColores .cambioColor .rosa {
  background: #ff0080;
}
.botonesEstilo .desplazable .filasColores .cambioColor .morado {
  background: #9c27b0;
}
.botonesEstilo .desplazable .filasColores .cambioColor .azul {
  background: #00c6ee;
}
.botonesEstilo .desplazable .filasColores .cambioColor .verde {
  background: #008f39;
}
.botonesEstilo .desplazable .filasColores .cambioColor .negro {
  background: #0a0a0a;
}
.botonesEstilo .opacidad p {
  margin: 0rem 0rem 0rem 0rem;
}
.botonesEstilo .opacidad .slidecontainer {
  /* The slider itself */
  /* Mouse-over effects */
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
}
.botonesEstilo .opacidad .slidecontainer .valBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.5rem;
}
.botonesEstilo .opacidad .slidecontainer .slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  height: 2.5rem;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
.botonesEstilo .opacidad .slidecontainer .slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}
.botonesEstilo .opacidad .slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 2.5rem;
  /* Set a specific slider handle width */
  height: 2.5rem;
  /* Slider handle height */
  background: black;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}
.botonesEstilo .opacidad .slidecontainer .slider::-moz-range-thumb {
  width: 2.5rem;
  /* Set a specific slider handle width */
  height: 2.5rem;
  /* Slider handle height */
  background: black;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}
.botonesEstilo .selecModo p {
  margin: 0rem 0rem 0rem 0rem;
}
.botonesEstilo .selecModo .mode {
  margin: 0.5rem 0rem 0rem 0rem;
}
.botonesEstilo .selecModo .mode p {
  font-size: 3rem;
}
.botonesEstilo .selecModo .mode .noche {
  color: #0a0a0a;
  display: none;
}
.botonesEstilo .selecModo .mode .dia {
  color: #0a0a0a;
}

/*# sourceMappingURL=panelestilos.css.map */
