        @import "./variables.scss";

        @mixin head {
            width: 100%;

            background: {
                color: pink;
            }

            img {
                width: 100%;
            }
        }

        @mixin principal {
            // display: flex;
            // flex-direction: column;
            // flex-wrap: nowrap;
            // align-items: center;
            // justify-content: space-around;
            // width: 100%;
            // height: 55vh;
            padding: 3rem;
            overflow: auto;

            background: {
                color: $bg-color;
            }

            // font-family: Arial;
            // font-size: 25px;
            // font-weight: bold;
            // color: #0000ff;
        }

        @mixin muestra {
            overflow: hidden;
            display: flex;
            // flex-direction: row;
            justify-content: space-around;
            margin-bottom: 1rem;

            // width: 100vw;
            // margin: 3rem;
            background: {
                color: black;
            }
        }

        @mixin imgG {
            height: 70vh;
            // max-width: 90vw;
            // width: 100%;
            // margin: 0.8rem;
            border: $marcoFoto;
            box-shadow: $sombreadoTotal;
            cursor: pointer;

            background: {
                color: lightblue;
            }
        }

        @mixin miniatura {
            display: flex;
            flex-direction: row;
            justify-content: center;

            // max-height: 0.3rem;
            background: {
                color: purple;
            }
        }

        @mixin imgM {
            // display: flex;
            // flex-direction: row;
            // justify-content: space-around;
            // margin: 1rem;
            // width: 5%;
            margin: 0.3rem;
            cursor: pointer;
            height: 15rem;
            height: 5rem;

            background: {
                color: black;
            }
        }

        /* hovers*/

        @mixin mediaImagen {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }