@import "../mixins/mixins.scss";
@import "../variables/variables.scss";
.head {
  // @include head;
}
body {
  background: {
    //color: black;
  }
}
.descripcion {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: calc(3rem + 1vw);
  margin-top: 5rem;
  color: $azul;
  //width: calc(0.1rem + 3vw);
}
p {
  font-size: 1.5rem;
  font-size: calc(1rem + 1vw);
}
//A:hover { color: black; font-family: arial; text-decoration: none }
a:visited {
  color: black;
  font-family: arial;
  text-decoration: none;
}
.datos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
  .datosPersonales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: 0.2rem solid $azul;
    overflow: hidden;
    border: {
      radius: 1rem;
    }
    background: {
      color: #000;
    }
    h {
      color: $azul;
    }
    //   border: 0.1rem solid black;
    .foto {
      //width: 40%;
      .dni {
        // margin-right: 3rem;
        width: calc(20rem + 10vw);
        border: {
          radius: 0.5rem;
        }
      }
    }
    .direccion {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        margin-top: 1.5rem;
      }
    }
  }
  .experiencia {
    color: white;
    // overflow: hidden;
    display: flex;
    flex-direction: row;
    // flex-wrap: nowrap;
    align-items: center;
    /// justify-content: ;
    border: 0.2rem solid $azul;
    // height: 7vh;
    //min-width: 7vh;
    // padding: 3rem;
    margin-bottom: 5rem;
    width: 95vw;
    background: {
      color: black;
    }
    border: {
      radius: 1rem;
    }
    .logotipo {
      // overflow: hidden;
      //height: 7vh;
      border: {
        radius: 1rem;
      }
      background: {
    //    color: $azul;
      }
      img {
        width: calc(20rem + 10vw);
      //  border-right: 0.2rem solid $azul;
        //height: 100%;
        background: {
          //   color: black;
        }
        border: {
          radius: 1rem 0rem 0rem 1rem;
        }
      }
    }
    .descripcion {
      padding: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
         height: 100%;
      //text-overflow: ellipsis;
      //  white-space: nowrap;
      //overflow: hidden;
      //   height: 10vw;
      //   width: 50%;
     // background-color: lime;
    }
    .titulo {
      height: 100%;
      display: flex;
      flex-direction: column;
     align-items: center;
      justify-content: end;
     // background-color: magenta;
      margin-right: 3rem;
      img {
        height: 10rem;
        width: 10rem;
        margin-right: 1rem;

        display: block;
         
          text-decoration: none;
          margin-left: 30px;
          animation-name: parpadeo;
          animation-duration: 1s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          -webkit-animation-name: parpadeo;
          -webkit-animation-duration: 2s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
        
      }
      img:hover {
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
        transform: scale(1.15);
      }
      
    }
  }
  .interes {
    border: 0.1rem solid $azul;
    width: 95vw;
    padding: 2rem;
    border: {
      radius: 1rem;
    }
    background: {
      color: black;
    }
    p {
      margin-top: 1.5rem;
    }
  }
  //padding: 5%;
  //height: 10vh;
  // overflow: hidden;

  a:link {
    color: #ffffff;
    text-decoration: none;
  }
  a:visited {
    color: #ffffff;
  }
  a:active {
    color: #ffffff;
  }
  a:hover {
    color: $azul;
  }
}
//------------------------\\
//  RESPONSIVE  \\
//------------------------\\
@media only screen and (max-width: 500px) {
  .head {
    // @include head;
  }
  body {
    background: {
      //color: black;
    }
  }
  .titulo {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: calc(1.5rem + 4vw);
    margin-top: 5rem;
    color: $azul;
    //width: calc(0.1rem + 3vw);
  }
  p {
    font-size: 1.5rem;
    //font-size: calc(0.5rem + 1vw);
  }
  //A:hover { color: black; font-family: arial; text-decoration: none }
  a:visited {
    color: black;
    font-family: arial;
    text-decoration: none;
  }
  .datos {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    //border: 0.1rem solid black;
    // max-height: 9rem;
    width: 100%;
    //padding: 3rem;
    .datosPersonales {
      // padding: 2rem;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      color: white;
      padding: 10%;
      // padding: 3rem;
      border: 0.1rem solid $azul;
      // margin: 0.3rem;
      width: 85%;
      height: auto;
      overflow: hidden;
      border: {
        radius: 1rem;
      }
      background: {
        color: black;
      }
      h {
        color: $azul;
      }
      //   border: 0.1rem solid black;
      .dni {
        height: auto;
        width: 100%;
        border: {
          radius: 1rem;
        }
        border: 0.1rem solid $azul;
      }
      .direccion {
        display: flex;
        flex-direction: column;
        //   justify-content: flex-start;
        // background-color: pink;
        // align-items: center;
        // align-items: center;
        // align-items: center;
        p {
          margin-top: 1.5rem;
        }
      }
    }
    .interes {
      border: 0.1rem solid $azul;
      width: 85%;
      padding: 2rem;
      border: {
        radius: 1rem;
      }
      background: {
        color: black;
      }
      p {
        margin-top: 1.5rem;
      }
    }
    .experiencia {
      color: white;
      //overflow: hidden;
      display: flex;
      flex-direction: column;
      //flex-wrap: nowrap;
      // align-items: center;
      //  justify-content: start;
      border: 0.1rem solid $azul;
      height: auto;
      min-width: 7vh;
      margin: 0.5rem;
      padding: 10%;
      width: 85%;
      border: {
        radius: 1rem;
      }
      // padding: 3rem;
      background: {
        color: black;
      }
      //padding: 5%;
      //height: 10vh;
      // overflow: hidden;
      .logotipo {
        overflow: hidden;
        height: auto;
        background: {
          // color: $azul;
        }
        img {
          width: 100%;
          //  height: 100%;
          background: {
            //     color: $azul;
          }
          border: {
            radius: 0rem;
          }
        }
        // color: $azul;
        // width: 50%;
        .corporativo {
          height: 100%;
          // height: 100%;
          margin-right: 1rem;
          border-right: none;
          // padding: 0.5rem;
        }
      }
      .descripcion {
        padding: 1rem;
        width: 100%;
        //text-overflow: ellipsis;
        //  white-space: nowrap;
        //overflow: hidden;
        //   height: 10vw;
        //   width: 50%;
      }
      a:link {
        color: #ffffff;
        text-decoration: none;
      }
      a:visited {
        color: #ffffff;
      }
      a:active {
        color: #ffffff;
      }
      a:hover {
        color: $azul;
      }
      .titulo {
        img {
          height: 5vh;
          width: 5vh;
          margin-right: 1rem;
        }
      }
    }
  }
}
