@import "../mixins/mixins.scss";
@import "../variables/variables.scss";

.head {
    // @include head;
}
.datosPersonales{
    padding: 3rem;

    border-bottom: 0.3rem solid black;
}
.empresa {
   // padding: 3rem;

    margin: 0 auto;

    display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: start;
    width: 100vw;
    //padding: 5%;
    height: 19vh;
    border-bottom: 0.3rem solid black;

    // overflow: hidden;
    .logotipo {
       height: 10vw;
       // width: 50%;
        .corporativo{
            height: 90%;

        }
        
    }
    .descripcion{
        
        padding: 3rem;
     //   height: 10vw;
        width: 50%;

    }

    background: {
        color: white;
    }
}