@import "../responsive/responsive.scss";
@import "../variables/variables.scss";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  footer {
    display: inline-block;
    bottom: 0;
    width: 100%;
    border-top: 0.1rem solid $azul;
    background: {
      color: black;
    }
    .footerContainer {
      color: #fff;
      padding: 5rem 0rem 5rem 0rem;
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      .contacto,
      .direccion,
      .paginas {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0rem 1rem 0rem 1rem;
        h3 {
          font-size: 4rem;
          color: $azul;
          margin-bottom: 1.5rem;
          -webkit-text-stroke: 0.05rem #000;
          text-shadow: 0.1rem 0.1rem 0.3rem white;
        }
        p {
          font-size: 2rem;
          font-size: calc(1rem + 1vw);
        }
        a {
          text-decoration: none;
          color: blanchedalmond;
        }
        input[type="email"] {
          border: none;
          width: 100%;
          border: 0.1rem solid $azul;
          font-size: calc(1rem + 1vw);
          padding: 1.5rem;
          border-radius: 0.9rem;
        }
        input[type="submit"] {
          border: none;
          background: $azul;
          color: #fff;
          width: 50%;
          padding: 1rem 0rem 1rem 0rem;
          border: 0.1rem solid $azul;
          font-size: calc(1rem + 1vw);
          margin-top: 2rem;
          cursor: pointer;
          border: 0.05rem solid white;
          border-radius: 0.9rem;
        }
        input[type="submit"]:hover {
          background-color: rgba(78, 78, 32, 0.582);
        }
        .fa {
          color: red;
        }
        .datos {
          p {
            margin-left: 0.5rem;
            margin-bottom: 1.5rem;
          }
        }
        .diseños {
          p {
            display: inline-block;
            margin: 0rem 1rem 1.5rem 1rem;
          }
        }
      }
      .contacto {
        width: 30%;
      }
      .direccion {
        width: 30%;
      }
      .paginas {
        width: 40%;
      }
    }
    .redes {
      display: flex;
      width: 100%;
      background: #000;
      border-top: 0.1rem solid $azul;
      .propiedad {
        width: 100%;
        .socialmedia {
          width: 100%;
          display: flex;
          flex-direction: row-reverse;
          flex-wrap: wrap;
          padding: 2rem;
          .iconSocial {
            img {
              height: 4rem;
              margin: 0.2rem;
            }
          }
        }
      }
      .copy {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        width: 100%;
        color: #fff;
        padding: 2rem;
        border-bottom: 0.1rem solid $azul;
      }
      .politicas {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        //color: red;
        padding: 1rem;
        //background-color: blue;
        p {
          margin: 0rem 1rem 0rem 1rem;
          font-size: 1rem;
          cursor: pointer;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  footer {
    .footerContainer {
      flex-wrap: wrap;
      .contacto,
      .direccion,
      .paginas {
        h3 {
          font-size: 4rem;
          color: $azul;
          margin-bottom: 1.5rem;
        }
        p {
          font-size: 2rem;
        }
      }
      .contacto {
        width: 40%;
      }
      .direccion {
        width: 40%;
      }
      .paginas {
        margin-top: 5rem;
        width: 90%;
      }
    }
  }
  .socialmedia {
    justify-content: center;
  }
}
@media screen and (max-width: 650px) {
  footer {
    .footerContainer {
      flex-wrap: wrap;

      .contacto {
        width: 90%;
      }
      .direccion {
        margin-top: 5rem;

        width: 90%;
      }
      .paginas {
        margin-top: 5rem;
        width: 90%;
      }
    }
  }
}
