@import "../responsive/responsive.scss";
@import "../variables/variables.scss";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  footer {
    display: inline-block;
    bottom: 0;
    width: 100%;
    border-top: 0.1rem solid $azul;
    background: {
      color: black;
    }
    .footerContainer {
      color: #fff;
      padding: 5rem 0rem 5rem 0rem;
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      .contacto,
      .direccion,
      .paginas {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin: 0rem 2rem 0rem 2rem;;
        h3 {
          font-size: 4rem;
          color: $azul;
          margin-bottom: 1.5rem;
        }
        p {
          font-size: 2rem;
          margin-bottom: rem;
        }
        input[type="email"] {
          border: none;
          width: 100%;
          border: 0.1rem solid $azul;
          font-size: 2.5rem;
          padding: 1.5rem;
          border-radius: 0.9rem;
        }
        input[type="submit"] {
          border: none;
          background: $azul;
          color: #fff;
          width: 50%;
          padding: 1rem;
          border: 0.1rem solid $azul;
          font-size: 2.5rem;
          margin-top: 2rem;
          cursor: pointer;
          border: 0.05rem solid white;
          border-radius: 0.9rem;
        }
        .fa {
          color: red;
        }
        .datos {
          p {
            margin-left: 0.5rem;
            margin-bottom: 1.5rem;
          }
        }
        .diseños {
          p {
            display: inline-block;
            margin: 0rem 1rem 1.5rem 1rem;
            // margin-bottom: 1.5rem;
            // background-color: greenyellow;
          }
        }
      }
    }
    .redes {
      display: flex;
      width: 100%;
      background: #000;
      border-top: 0.1rem solid $azul;
      .propiedad {
        width: 100%;
        .socialmedia {
          width: 100%;
          display: flex;
          flex-direction: row-reverse;
          flex-wrap: wrap;
          padding: 2rem;
          .iconSocial {
            img {
              height: 4rem;
              margin: 0.2rem;
            }
          }
        }
      }
      .copy {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        width: 100%;
        color: #fff;
        padding: 2rem;
      }
    }
  }
}





@media screen and (max-width: 900px) {
  footer {
    display: inline-block;
    bottom: 0;
    width: 100%;
    border-top: 0.1rem solid $azul;
    background: {
      color: black;
    }
    .footerContainer {
      color: #fff;
      padding: 5rem 0rem 5rem 0rem;
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      .contacto,
      .direccion,
      .paginas {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin: 0rem 2rem 0rem 2rem;;
        h3 {
          font-size: 4rem;
          color: $azul;
          margin-bottom: 1.5rem;
        }
        p {
          font-size: 2rem;
          margin-bottom: rem;
        }
        input[type="email"] {
          border: none;
          width: 100%;
          border: 0.1rem solid $azul;
          font-size: 2.5rem;
          padding: 1.5rem;
          border-radius: 0.9rem;
        }
        input[type="submit"] {
          border: none;
          background: $azul;
          color: #fff;
          width: 50%;
          padding: 1rem;
          border: 0.1rem solid $azul;
          font-size: 2.5rem;
          margin-top: 2rem;
          cursor: pointer;
          border: 0.05rem solid white;
          border-radius: 0.9rem;
        }
        .fa {
          color: red;
        }
        .datos {
          p {
            margin-left: 0.5rem;
            margin-bottom: 1.5rem;
          }
        }
        .diseños {
          p {
            display: inline-block;
            margin: 0rem 1rem 1.5rem 1rem;
            // margin-bottom: 1.5rem;
            // background-color: greenyellow;
          }
        }
      }
    }
    .redes {
      display: flex;
      width: 100%;
      background: #000;
      border-top: 0.1rem solid $azul;
      .propiedad {
        width: 100%;
        .socialmedia {
          width: 100%;
          display: flex;
          flex-direction: row-reverse;
          flex-wrap: wrap;
          padding: 2rem;
          .iconSocial {
            img {
              height: 4rem;
              margin: 0.2rem;
            }
          }
        }
      }
      .copy {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        width: 100%;
        color: #fff;
        padding: 2rem;
      }
    }
  }
}
