@import "../mixins/mixins.scss";
@import "../variables/variables.scss";

.repertorio {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    background: {
        color: lightblue;
    }
}

h {
    font: {
        size: 3.0rem;
    }
}

hr {
    background: {
        color: black;
    }

    height: 0.25rem;
}

.tipo {
    margin-bottom: 3rem;
    display: flex;
    width: 100%;
    // margin: 20px auto;
    list-style: none;

    background: {
        // color: white;
    }
}

.fila {
    overflow: auto;

    display: flex;
   flex-direction: row;
   flex-wrap: nowrap;

    background: {
        // color: yellow;
    }
    .imagenPresentacion{
        margin: 0.6rem;
        border: 0.4rem solid #eeeeee;
        box-shadow: $sombreadoTotal;
    }
    .tn {
        cursor: pointer;
        height: 15rem;

        background: {
            // color: black;
        }
    }
}