@import "../mixins/mixins.scss";
@import "../variables/variables.scss";

.head {
  @include head;
}
.fa-arrow-alt-circle-up {
  z-index: 1000;
  color: $azul;
  font-size: 5rem;
  display: block;
  // text-decoration: none;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 15rem;
  right: 2rem;
  border-radius: 100px;
  //   border: 0.25rem solid white;
  background: {
    color: white;
  }
  }
