.stick {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}

.stick .nav {
  border-bottom: 0.05rem solid #fff;
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.438);
}

.stick .nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.stick .nav .navbar .foto {
  position: absolute;
  z-index: 1000;
}

.stick .nav .navbar .foto img {
  margin-top: calc(10px + 1vw);
  margin-left: calc(10px + 1vw);
  border-radius: 75%;
  border: 0.05rem solid #fff;
  width: calc(3vw + 3rem);
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}

.stick .nav .navbar .menu {
  padding: 0.5rem 0 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: calc(100px + 1vw);
  width: 100%;
  position: relative;
  z-index: 1000;
}

.stick .nav .navbar .menu .links {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: black;
}

.stick .nav .navbar .menu .links .nav-link {
  margin: 0 0.2rem 0 0.2rem;
  color: gray;
  padding: 1.6rem;
  border-radius: 0.9rem;
  border-color: gray;
  border-width: 0.05rem;
  background-color: rgba(0, 0, 0, 0.582);
  cursor: pointer;
}

.stick .nav .navbar .menu .links .nav-link font {
  size: 1.6rem;
}

.stick .nav .navbar .menu .links .nav-link:hover,
.stick .nav .navbar .menu .links .nav-link:focus {
  background-color: rgba(78, 78, 32, 0.582);
}

.stick .mode {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.stick .mode img {
  position: absolute;
  width: calc(0.1rem + 3vw);
}

.stick .movil img {
  display: none;
}

.stick .mnav-link {
  display: none;
}

.stick .desplegable {
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav {
    display: none;
  }
  .movil {
    border-bottom: 0.05rem solid #fff;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.438);
  }
  .movil .imagenes {
    padding: calc(0.5rem + 0.5vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .movil .imagenes .foto {
    cursor: pointer;
  }
  .movil .imagenes .foto img {
    display: block;
    border-radius: 75%;
    border: 3px double #000000;
    width: calc(4vw + 5rem);
    -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  }
  .movil .imagenes .botones {
    border: 0;
    outline: 0 none;
    background-color: transparent;
  }
  .movil .imagenes .botones #boton1 {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: Transparent;
  }
  .movil .imagenes .botones #boton1 img {
    display: block;
    width: calc(4vw + 5rem);
  }
  .movil .desplegable {
    display: none;
  }
  .movil .desplegable button {
    display: none;
    margin: 1rem;
    border: 0;
    color: white;
    cursor: pointer;
    background-color: transparent;
  }
  .movil .desplegable .mnav-link {
    display: block;
  }
}

@media only screen and (max-width: 800px) and (max-width: 800px) {
  section #links {
    display: none;
    background-color: pink;
  }
}

@media only screen and (max-width: 800px) {
  /* Y finalmente las animaciones */
  @-webkit-keyframes fade {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
  }
}
/*# sourceMappingURL=nav.css.map */