@import "../css/responsive.css";
@import "../variables/variables.scss";

.stick {

    position: fixed;
    top: 0;
    width: 100%;
    background: {
        //   color: rgba(0, 4, 255, 0.7);
    }
    .nav {
        border-bottom: 0.05rem solid #fff;
        // display: block;
        // margin: 0vh 5vh 0vh 5vh;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);

        background: {
            color: rgba(0, 0, 0, 0.438);
        }

        .navbar {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;

            .foto {
                position: absolute;
                z-index: 1;

                img {
                   

                    margin-top: calc(10px + 1vw);
                    margin-left: calc(10px + 1vw);
                    border-radius: 75%;
                    border: 0.05rem solid #fff;
                    width: calc(3vw + 3rem);
                    box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
                   
                }
            }

            .menu {
                padding: 0.5rem 0 0.5rem 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-left: calc(100px + 1vw);
                width: 100%;
                //  height: 10vh;
                position: relative;
                z-index: 1;

                .links {
                    z-index: 3;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    // align-items: center;
                    // justify-content: center;
                    color: black;

                    .nav-link {
                        margin: 0 0.2rem 0 0.2rem;
                        color: gray;
                        padding: 1.6rem;

                        font {
                            size: 1.6rem;
                        }

                        border: {
                            radius: 0.9rem;
                            color: gray;
                            width: 0.05rem;
                        }

                        background: {
                            color: rgba(0, 0, 0, 0.582);
                        }

                        cursor: pointer;
                    }

                    .nav-link:hover,
                    .nav-link:focus {
                        background-color: rgba(78, 78, 32, 0.582);
                        ;
                    }
                }
            }
        }
    }

    .mode {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;

        background: {
            // color: pink;
        }

        img {
            // margin-right: calc(10px + 2vw);
            // border-radius: 75%;
            // border: 3px double #000000;
            width: calc(0.1rem + 3vw);
            // box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
        }
    }

    .movil img {
        display: none;
    }

    .mnav-link {
        display: none;
    }

    .desplegable {
        display: none;
    }
}


