@import "../responsive/responsive.scss";
@import "../variables/variables.scss";
@import "../mixins/mixins.scss";

/* -----------------------------------------
         social media menu
------------------------------------------ */
.social-media {
  // z-index: 20000;
  // position: relative;
  padding: 0.1rem 1rem 0.1rem 1rem;
  // padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  background-color: $corporativo;
  // border: 0.05rem solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  
  .social-links {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    //padding: 0.01rem;
    /* background-color: orangered; */
  }
  p {
    color: $negro;
  }
  .social-links a {
    font-size: 2.4rem;
    display: inline-block;
    color: black;
    line-height: 1;
    transition: 0.3s;
    text-decoration: none;
  }
  .social-links a:visited {
    color: black;
  }
  .social-links a:hover {
    color: black;
  }
}
/* ------------------------------------------
         div stilos
------------------------------------------ */
.botonesEstilo {
  z-index: 100;
  position: fixed;
  //top: 0; //para que siga la pagina
 // position: sticky;
  //position: absolute;
 // position: -webkit-fixed;  // required for Safari
  display: none;
  background-color: white;
  border: 0.05rem solid $negro;
  border-radius: 0.9rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0rem 0rem 0rem 0.5rem;
  //width: 10%;

  //z-index: 100;
  //position: relative;
  .desplazable
  {
    max-height: 90vh;

    overflow: auto;

  p {
    color: $negro;
    font-size: 1.5rem;
  }
  .reset {
  
    p{
     font-size:3rem;
    }
  }
  .filasFiesta {
    margin: 0rem 0rem 1rem 0rem;
    p {
      margin: 0rem 0rem 0rem 0rem;
    }
    .selecFiesta {
      margin: 0.5rem 0rem 0rem 0rem;
      .festivos {
        //   border: none;
        // background-color: transparent;
        width: 2.4rem;
        margin: 0.5rem 0rem 0rem 0.2rem;
      }
    }
  }
  .filasColores {
    p {
      margin: 0rem 0rem 0rem 0rem;
    }
    .cambioColor {
      display: flex;
      flex-direction: column;
      // align-items: center;
      // justify-content: center;
      .selecColor {
        display: flex;
        flex-direction: row;
        .color {
          height: 2.2rem;
          width: 2.2rem;
          border-radius: 50%;
          border: 0.05rem solid $negro;
          margin: 0.7rem 0.2rem 0rem 0.2rem;
        }
      }
      .blanco {
        background: $blanco;
      }
      .gris {
        background: $gris;
      }
      .amarillo {
        background: $amarillo;
      }
      .naranja {
        background: $naranja;
      }
      .oro {
        background: $oro;
      }
      .marron {
        background: $marron;
      }
      .rojo {
        background: $rojo;
      }
      .rosa {
        background: $rosa;
      }
      .morado {
        background: $morado;
      }
      .azul {
        background: $azul;
      }
      .verde {
        background: $verde;
      }
      .negro {
        background: $negro;
      }
    }
  }
}
  .opacidad {
    p {
      margin: 0rem 0rem 0rem 0rem;
    }
    .slidecontainer {
      //  width: 100%; /* Width of the outside container */

      .valBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // width: 2.5rem; /* Set a specific slider handle width */
        // height: 2.5rem; /* Slider handle height */
        // background: $blanco; /* Green background */
        // cursor: pointer; /* Cursor on hover */
        font-size: 2.5rem;
      }

      /* The slider itself */
      .slider {
        -webkit-appearance: none; /* Override default CSS styles */
        appearance: none;
        // width: 100%; /* Full-width */
        height: 2.5rem; /* Specified height */
        background: #d3d3d3; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
        transition: opacity 0.2s;
      }

      /* Mouse-over effects */
      .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
      }

      /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 2.5rem; /* Set a specific slider handle width */
        height: 2.5rem; /* Slider handle height */
        background: black; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }

      .slider::-moz-range-thumb {
        width: 2.5rem; /* Set a specific slider handle width */
        height: 2.5rem; /* Slider handle height */
        background: black; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
    }
  }
  .selecModo {
    margin: 1rem 0rem 0rem 0rem;
    p {
      margin: 0rem 0rem 0rem 0rem;
    }
    .mode {
      margin: 0.5rem 0rem 0rem 0rem;
      p {
        font-size: 3rem;
      }
      .noche {
        color: $negro;
        display: none;
      }
      .dia {
        color: $negro;
      }
    }
  }
}
.botonesEstiloMenu {
  right: 0.5rem;
  top: 11rem;
}
/* ------------------------------------------
         menu
------------------------------------------ */
.movil {
  display: none;
}
.stick {
  margin: 0rem 0rem 5rem 0rem ;

  // z-index: 1000;
  // position: fixed; //para que siga la pagina
  // position: -webkit-fixed;  // required for Safari
  top: 0;
  width: 100%;
  background: {
    //   color: rgba(0, 4, 255, 0.7);
  }
  .nav {
    // border-bottom: 0.05rem solid;
    // display: block;
    // margin: 0vh 5vh 0vh 5vh;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    // border-bottom: 0.05rem solid $corporativo;
    //background: {
    background: {
      color: black;
    }
    //backdrop-filter: opacity(50%);

    //}
    .navbar {
      padding: 0rem 1rem 0rem 0rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
      .foto {
        position: relative;
        cursor: pointer;

        //z-index: 1000;
        img {
          height: 100%;
          // margin-top: calc(10px + 1vw);
          margin-left: calc(10px + 1vw);
          border-radius: 75%;
          border: 0.05rem solid $corporativo;
          width: calc(3vw + 3rem);
          box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
        }
      }
      .menu {
        padding: 3rem 0 3rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        // position: relative;
        .links {
          display: grid;
          grid-template-columns: [x0] 0.1fr [x1] 0.1fr [x2] 0.1fr [x3] 0.1fr [x4] 0.1fr [x5] 0.1fr [x6] 0.1fr [x7] 0.1fr [x8];
          grid-template-rows: [y0] 1fr [y1];
          grid-column-gap: 0rem;
          grid-row-gap: 1rem;
          //width: 67%;
          .enlace {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 0rem 0rem 0rem 0rem;
            color: $corporativo;
            padding: 1.6rem 0.5rem 1.6rem 0.5rem;
            //min-width: 8rem;
            //border: 0.05rem solid $corporativo;
            //border-radius: 0.9rem;
            background: {
              // color:gray;
            }
            font: {
              size: 1.6rem;
              weight: bold;
            }
          }
          .inicio {
            grid-column: x0 / x1;
            grid-row: y0 / y1;
          }
          .biografia {
            grid-column: x1 / x2;
            grid-row: y0 / y1;
          }
          .webs {
            grid-column: x2 / x3;
            grid-row: y0 / y1;
          }
          .gal {
            grid-column: x3 / x4;
            grid-row: y0 / y1;
          }
          .curriculum {
            grid-column: x4 / x5;
            grid-row: y0 / y1;
          }
          .contacto {
            grid-column: x5 / x6;
            grid-row: y0 / y1;
          }
          .mode {
            grid-column: x6 / x7;
            grid-row: y0 / y1;
            // margin: 0rem 1rem 0rem 0rem;
            // display: flex;
            // flex-direction: row-reverse;
            // justify-content: flex-end;
            // align-items: center;
            .noche {
              display: none;
              //color: $corporativo;
              font-size: 3rem;
            }
            .dia {
              display: block;
              //color: $corporativo;
              font-size: 3rem;
            }
          }
          .brushEstilos {
            grid-column: x7 / x8;
            grid-row: y0 / y1;

            .selecEstilosDesplegar {
              @include estilos;
           //color: $corporativo;

              font-size: 3rem;

              //font-size: 1.6rem;
            }
            .selecEstilosPlegar {
              //color: $corporativo;

              font-size: 3rem;

              //   animation-name: none;
            }
          }
          
          .inicio:hover,
          .conoceme:hover,
          .webs:hover,
          .gal:hover,
          .videos:hover,
          .curriculum:hover,
          .contacto:hover,
          .inicio:focus,
          .conoceme:focus,
          .webs:focus,
          .gal:focus,
          .videos:focus,
          .curriculum:focus,
          .contacto:focus {
            background-color: rgba(78, 78, 32, 0.582);
          }
        }
      }
    }
  }
  .movil img {
    display: none;
  }
  .mnav-link {
    display: none;
  }
  .desplegable {
    display: none;
  }
}
//------------------------\\
//  RESPONSIVE  \\
//------------------------\\
@media only screen and (max-width: 800px) {
  .nav {
    display: none;
  }
  .movil {
    border-bottom: 0.05rem solid $corporativo;
    display: block;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background: {
      color: rgba(0, 0, 0, 0.438);
    }
    .imagenes {
      padding: calc(0.5rem + 0.5vw);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      background: {
        // color: blue;
      }
      .foto {
        position: relative;
        cursor: pointer;
        background: {
          // color: green;
        }
        img {
          display: block;
          border-radius: 75%;
          border: 3px double $corporativo;
          width: calc(4vw + 5rem);
          box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
        }
      }
      .botones {
        border: 0;
        outline: 0 none;
        background: {
          color: transparent;
        }
        .botonMenu {
          //  color:$amarillo;
        }
        #boton1 {
          outline: none;
          cursor: pointer;
          border: none;

          background-color: Transparent;
          p {
            display: block;
            font-size: calc(5vw + 5rem);
          }
        }
      }
    }
    .desplegable {
      .mode {
        margin: 0rem 0rem 1rem 1rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        background: {
          //     color:rgb(196, 60, 83) ;
        }
        .noche {
          display: none;
          color: $corporativo;
          font-size: 5rem;
        }
        .dia {
          display: block;
          color: $corporativo;
          font-size: 5rem;
        }
        .selecEstilosDesplegar {
          @include estilos;
          font-size: 3rem;
        }
        .selecEstilosPlegar {
         // animation-name: none;
        }
        img {
          position: absolute;
          width: calc(0.1rem + 3vw);
        }
      }
      .enlace {
        margin: 1rem;
        border: 0;
        color: $corporativo;
        cursor: pointer;
        font: {
          size: 3rem;
          color: $corporativo;
        }
      }
      .mnav-link {
        display: block;
      }
    }
  }
  @media (max-width: 800px) {
    section {
      #links {
        display: none;
        background: {
          // color: pink;
        }
      }
    }
  }
  /* Y finalmente las animaciones */
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  // /* Todo con CSS y HTML. */
}
