@import "../mixins/mixins.scss";
@import "../variables/variables.scss";
@import "../funciones/funciones.scss";

html,
body {
  background: {
    color: $blanco;
  }
  .mode {
    .noche {
      display: block;
      color: $negro;
      font-size: 5rem;
    }
    .dia {
      display: none;
    }

    img {
      position: absolute;
      // margin-right: calc(10px + 2vw);
      // border-radius: 75%;
      // border: 3px double #000000;
      width: calc(0.1rem + 3vw);
      // box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
    }
  }

  h1 {
    color: $negro;
    -webkit-text-stroke: 0.05rem rgb(221, 216, 216);
    text-shadow: 0.2em 0.2em 0.3em black;
  }
  h2 {
    color: $negro;
    -webkit-text-stroke: 0.05rem rgb(221, 216, 216);
    text-shadow: 0.2rem 0.2rem 0.3rem black;
  }
  h3 {
    color: $negro;
    -webkit-text-stroke: 0.04rem rgb(221, 216, 216);
    text-shadow: 0.2em 0.2em 0.3em black;
  }
  h4 {
    color: $negro;
    -webkit-text-stroke: 0.03rem rgb(221, 216, 216);
    text-shadow: 0.2em 0.2em 0.3em black;
  }
  p {
    color: $negro; /*blanchedalmond;*/
  }
  a {
    color: $azul;
  }
  ul {
    li {
      color: $negro;
      p {
        strong {
          color: blue;
        }
      }
    }
  }
  .fa-arrow-alt-circle-up {
    color: $corporativo;
    -webkit-text-stroke: 0.1rem gray;
    text-shadow: 0.2rem 0.2rem 0.5rem black;
    background: {
      color: white;
    }
  }
}

footer {
  // border-top: 0.1rem solid $corporativo;
  // background: {
  //   color: black;
  // }
  .footerContainer {
    color: #fff;
    .contacto,
    .direccion,
    .paginas {
      h2 {
        // -webkit-text-stroke: 0.05rem rgb(221, 216, 216);
        // text-shadow: 0.05em 0.05em 0.1em white;
      }

      a {
        color: $blanco;
      }
    }
    .datos {
      p {
        color: $blanco;
      }
    }
    .diseños {
      p {
        color: $blanco;
      }
    }
  }
  .redes {
    // border-top: 0.1rem solid $corporativo;
  }
  .copy {
    color: #fff;
    // border-bottom: 0.1rem solid $corporativo;
  }
  .politicas {
    p {
      color: $blanco;
    }
  }
}
