@import "../mixins/mixins.scss";
@import "../variables/variables.scss";

.principal {
    @include principal;
  
    .visor {
        @include visor;
               .botonGalery {
            @include botonGalery;
        }
        .divCentral {
            @include divCentral;
            #muestra {
                @include muestra;
            }
        }
        
    }
   

    .cajonMini {
        @include cajonMini;

        #cajonCentral {
            @include cajonCentral;
#miniCentral{
    @include miniCentral;
                &:hover {
                @include mediaImagen;
            }
        }
        }

        #cajonDerecha {
            @include cajonDerecha;
            #miniDerecha{
                @include miniDerecha;
            &:hover {
                @include mediaImagen;
            }
        }
        }

        #cajonIzquierda {
            @include cajonIzquierda;
            #miniIzquierda{
                @include miniIzquierda;
            &:hover {
                @include mediaImagen;
            }
        }
    }
    }
}


// .object {
//     position: absolute;
//   }
//   .van {
//       width: 10rem;
//       top: 45%;
//       left: 44%;
//   }
  .move-right  {
    transform: translate(35rem,0);
   // -webkit-transform: translate(-63rem,0); /** Chrome & Safari **/
    -webkit-transform: translate(-62.51rem,0);

    -o-transform: translate(35rem,0); /** Opera **/
    -moz-transform: translate(35rem,0); /** Firefox **/
}
.object {
   // position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}
