@import "../mixins/mixins.scss";
@import "../variables/variables.scss";

@font-face {
  font-family: "supercell";
  src: url(../../../fuentes/supercell-magic-webfont.ttf) format("truetype");
}

.head {
  @include head;
}

.web {
  display: flex;
  height: 30vh;
  margin: 5rem;
  background: {
  }
  .titanium {
    width: 40%;
    border-radius: 40px;
    border: 0.05rem solid $azul;
    background: {
      image: url("../../../images/banners/vinewood.jpg");
      color: gold;
      size: cover;
      position: left, right;
    }
    .imagen {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .titulo {
      background: {
        //  color: red;
      }
      h1 {
        height: 0 auto;
        -webkit-text-stroke: 1.5px black;
        text-shadow: 0.1em 0.1em brown;
        color: orange;
        font: {
          family: supercell;
          size: 3rem;
        }
        background: {
          // color: purple;
        }
      }
    }
  }
}

// .separador {
//     margin: 3rem;
//     // height: 10rem;
//     width: 100%;
// }
