        @import "./variables.scss";

        @mixin head {
            width: 100%;

            background: {
                color: pink;
            }

            img {
                width: 100%;
            }
        }

        @mixin principal {
            // padding: 3rem;
            overflow: auto;
            //width:100%;
            padding: 1rem;

            background: {
                color: $bg-color;
            }

            // font-family: Arial;
            // font-size: 25px;
            // font-weight: bold;
            // color: #0000ff;
        }

        @mixin botonGaley {
            width: 100%;
            height: 70vh;

            background: {
                color: purple;
                size: cover;
            }
        }

        @mixin visor {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-around;
            height: 70vh;

            overflow: hidden;

            background: {
                color: red;
            }
        }
        
        @mixin imgCentral {
            // max-width: 90vw;
            width: 70vw;
            // margin: 0.8rem;
            border: $marcoFoto;
            box-shadow: $sombreadoTotal;
            //     cursor: pointer;
            //height: 70vh;

            background: {
                color: lightblue;
            }
        }
        @mixin imgG {
            heigth:70vh;
            
        }

        @mixin cajonMini {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

            background: {
                color: purple;
            }
        }

        @mixin mini {
            cursor: pointer;
            margin: 0.3rem;
            height: 15rem;
            height: 8rem
        }

        @mixin miniDerecha {
            cursor: pointer;
            margin: 0.3rem;
            height: 5rem;
        }

        @mixin miniIzquierda {
            cursor: pointer;
            margin: 0.3rem;
            height: 5rem;
        }

        /* hovers*/
        @mixin mediaImagen {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }