


$marcoFoto:0.8rem solid #eeeeee;
$sombreadoTotal: #555 1px 1px 8px 1px;
$bg-color: #df0174;
$gris:#272727;
$azul: #EABE3F; //$azul: #00C6EE;
$rojo:#f80000;
$oro:#EABE3F;
// @function fechas(){
//     // $gris: "#272727";
//      @return  "red";
//    }