


$marcoFoto:0.8rem solid #eeeeee;
$sombreadoTotal: #555 1px 1px 8px 1px;
$bg-color: #df0174;
$gris:#272727;
$azul: #00C6EE;
// @function fechas(){
//     // $gris: "#272727";
//      @return  "red";
//    }