/* hovers*/
.descripcion {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: calc(3rem + 1vw);
  margin-top: 5rem;
  color: #00C6EE;
}

p {
  font-size: 1.5rem;
  font-size: calc(1rem + 1vw);
}

a:visited {
  color: black;
  font-family: arial;
  text-decoration: none;
}

.datos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
}
.datos .datosPersonales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  border: 0.2rem solid #00C6EE;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #000;
}
.datos .datosPersonales h {
  color: #00C6EE;
}
.datos .datosPersonales .foto .dni {
  width: calc(20rem + 10vw);
  border-radius: 0.5rem;
}
.datos .datosPersonales .direccion {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.datos .datosPersonales .direccion p {
  margin-top: 1.5rem;
}
.datos .experiencia {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.2rem solid #00C6EE;
  margin-bottom: 5rem;
  width: 95vw;
  background-color: black;
  border-radius: 1rem;
}
.datos .experiencia .logotipo {
  border-radius: 1rem;
  background-color: #00C6EE;
}
.datos .experiencia .logotipo img {
  width: calc(20rem + 10vw);
  border-right: 0.2rem solid #00C6EE;
  background-color: black;
  border-radius: 1rem 0rem 0rem 1rem;
}
.datos .experiencia .descripcion {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.datos .experiencia .titulo img {
  height: 5vh;
  width: 5vh;
  margin-right: 1rem;
  display: block;
  text-decoration: none;
  margin-left: 30px;
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
.datos .interes {
  border: 0.1rem solid #00C6EE;
  width: 95vw;
  padding: 2rem;
  border-radius: 1rem;
  background-color: black;
}
.datos .interes p {
  margin-top: 1.5rem;
}
.datos a:link {
  color: #ffffff;
  text-decoration: none;
}
.datos a:visited {
  color: #ffffff;
}
.datos a:active {
  color: #ffffff;
}
.datos a:hover {
  color: #00C6EE;
}

@media only screen and (max-width: 1900) {
  .titulo {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: calc(1.5rem + 1vw);
    margin-top: 5rem;
    color: #00C6EE;
  }

  p {
    font-size: 1.5rem;
    font-size: calc(0.5rem + 1vw);
  }

  a:visited {
    color: black;
    font-family: arial;
    text-decoration: none;
  }

  .datos {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .datos .datosPersonales {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10%;
    border: 0.1rem solid #00C6EE;
    width: 85%;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
    background-color: black;
  }
  .datos .datosPersonales h {
    color: #00C6EE;
  }
  .datos .datosPersonales .dni {
    height: auto;
    width: 100%;
    border-radius: 1rem;
    border: 0.1rem solid #00C6EE;
  }
  .datos .datosPersonales .direccion {
    display: flex;
    flex-direction: column;
  }
  .datos .datosPersonales .direccion p {
    margin-top: 1.5rem;
  }
  .datos .interes {
    border: 0.1rem solid #00C6EE;
    width: 85%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: black;
  }
  .datos .interes p {
    margin-top: 1.5rem;
  }
  .datos .experiencia {
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid #00C6EE;
    height: auto;
    min-width: 7vh;
    margin: 0.5rem;
    padding: 10%;
    width: 85%;
    border-radius: 1rem;
    background-color: black;
  }
  .datos .experiencia .logotipo {
    overflow: hidden;
    height: auto;
  }
  .datos .experiencia .logotipo img {
    width: 100%;
    border-radius: 1rem;
  }
  .datos .experiencia .logotipo .corporativo {
    height: 100%;
    margin-right: 1rem;
    border-right: none;
  }
  .datos .experiencia .descripcion {
    padding: 1rem;
    width: 100%;
  }
  .datos .experiencia a:link {
    color: #ffffff;
    text-decoration: none;
  }
  .datos .experiencia a:visited {
    color: #ffffff;
  }
  .datos .experiencia a:active {
    color: #ffffff;
  }
  .datos .experiencia a:hover {
    color: #00C6EE;
  }
  .datos .experiencia .titulo img {
    height: 5vh;
    width: 5vh;
    margin-right: 1rem;
  }
}

/*# sourceMappingURL=curriculum.css.map */
