@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* footer {
  display: inline-block;
  bottom: 0;
  width: 100%;
  border-top: 0.1rem solid #EABE3F;
  background-color: black;
}
* footer .footerContainer {
  color: #fff;
  padding: 3rem 2rem 3rem 2rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
* footer .footerContainer .contacto,
* footer .footerContainer .direccion,
* footer .footerContainer .paginas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 1rem 0rem 1rem;
}
* footer .footerContainer .contacto h3,
* footer .footerContainer .direccion h3,
* footer .footerContainer .paginas h3 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  -webkit-text-stroke: 0.05rem #000;
  text-shadow: 0.1rem 0.1rem 0.3rem white;
}
* footer .footerContainer .contacto p,
* footer .footerContainer .direccion p,
* footer .footerContainer .paginas p {
  font-size: 2rem;
  font-size: calc(1rem + 1vw);
}
* footer .footerContainer .contacto a,
* footer .footerContainer .direccion a,
* footer .footerContainer .paginas a {
  text-decoration: none;
  color: blanchedalmond;
}
* footer .footerContainer .contacto input[type=email],
* footer .footerContainer .direccion input[type=email],
* footer .footerContainer .paginas input[type=email] {
  border: none;
  width: 100%;
  border: 0.1rem solid #EABE3F;
  font-size: calc(1rem + 1vw);
  padding: 1.5rem;
  border-radius: 0.9rem;
}
* footer .footerContainer .contacto input[type=submit],
* footer .footerContainer .direccion input[type=submit],
* footer .footerContainer .paginas input[type=submit] {
  border: none;
  background: #EABE3F;
  color: #fff;
  width: 50%;
  padding: 1rem 0rem 1rem 0rem;
  border: 0.1rem solid #EABE3F;
  font-size: calc(1rem + 1vw);
  margin-top: 2rem;
  cursor: pointer;
  border: 0.05rem solid white;
  border-radius: 0.9rem;
}
* footer .footerContainer .contacto input[type=submit]:hover,
* footer .footerContainer .direccion input[type=submit]:hover,
* footer .footerContainer .paginas input[type=submit]:hover {
  background-color: rgba(78, 78, 32, 0.582);
}
* footer .footerContainer .contacto .fa,
* footer .footerContainer .direccion .fa,
* footer .footerContainer .paginas .fa {
  color: red;
}
* footer .footerContainer .contacto .datos p,
* footer .footerContainer .direccion .datos p,
* footer .footerContainer .paginas .datos p {
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
}
* footer .footerContainer .contacto .diseños p,
* footer .footerContainer .direccion .diseños p,
* footer .footerContainer .paginas .diseños p {
  display: inline-block;
  margin: 0rem 1rem 1.5rem 1rem;
}
* footer .footerContainer .contacto {
  width: 30%;
}
* footer .footerContainer .direccion {
  width: 30%;
}
* footer .footerContainer .paginas {
  width: 40%;
}
* footer .redes {
  display: flex;
  width: 100%;
  background: #000;
  border-top: 0.1rem solid #EABE3F;
}
* footer .redes .propiedad {
  width: 100%;
}
* footer .redes .propiedad .socialmedia {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding: 2rem;
}
* footer .redes .propiedad .socialmedia .iconSocial img {
  height: 4rem;
  margin: 0.2rem;
}
* footer .redes .copy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  width: 100%;
  color: #fff;
  padding: 2rem;
  border-bottom: 0.1rem solid #EABE3F;
}
* footer .redes .politicas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
* footer .redes .politicas p {
  margin: 0rem 1rem 0rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
* footer .redes .politicas a {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  footer .footerContainer {
    flex-wrap: wrap;
  }
  footer .footerContainer .contacto h3,
footer .footerContainer .direccion h3,
footer .footerContainer .paginas h3 {
    font-size: 4rem;
    color: #EABE3F;
    margin-bottom: 1.5rem;
  }
  footer .footerContainer .contacto p,
footer .footerContainer .direccion p,
footer .footerContainer .paginas p {
    font-size: 2rem;
  }
  footer .footerContainer .contacto {
    width: 40%;
  }
  footer .footerContainer .direccion {
    width: 40%;
  }
  footer .footerContainer .paginas {
    margin-top: 5rem;
    width: 90%;
  }

  .socialmedia {
    justify-content: center;
  }
}
@media screen and (max-width: 650px) {
  footer .footerContainer {
    flex-wrap: wrap;
  }
  footer .footerContainer .contacto {
    width: 90%;
  }
  footer .footerContainer .direccion {
    margin-top: 5rem;
    width: 90%;
  }
  footer .footerContainer .paginas {
    margin-top: 5rem;
    width: 90%;
  }
}

/*# sourceMappingURL=footer.css.map */
