/* ------------------------------------------
         social media menu
------------------------------------------ */
.social-media {
  padding: 0;
  background-color: #e9d58d;
  border: 0.05rem solid black;
}

.social-links {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  padding: 0.01rem;
  margin: 0rem 1rem 0rem 0rem;
  /* background-color: orangered; */
}

.social-links a {
  font-size: 24px;
  display: inline-block;
  color: black;
  line-height: 1;
  margin: 0.2rem;
  transition: 0.3s;
  text-decoration: none;
}

.social-links a:visited {
  color: black;
}

/* ------------------------------------------
         menu
------------------------------------------ */
.stick {
  z-index: 1000;
  top: 0;
  width: 100%;
}
.stick .nav {
  border-bottom: 0.05rem solid;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.438);
}
.stick .nav .navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.stick .nav .navbar .foto img {
  height: 100%;
  margin-left: calc(10px + 1vw);
  border-radius: 75%;
  border: 0.05rem solid #e9d58d;
  width: calc(3vw + 3rem);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}
.stick .nav .navbar .menu {
  padding: 3rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1000;
}
.stick .nav .navbar .menu .links {
  display: grid;
  grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4] 1fr [x5] 1fr [x6];
  grid-template-rows: [y0] 1fr [y1];
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 80%;
}
.stick .nav .navbar .menu .links .enlace {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 0 0 0;
  color: #e9d58d;
  padding: 1.6rem 0.5rem 1.6rem 0.5rem;
  min-width: 8rem;
  background-color: rgba(0, 0, 0, 0.582);
  font-size: 1.6rem;
  font-weight: bold;
  border: 0.05rem solid #e9d58d;
  border-radius: 0.9rem;
}
.stick .nav .navbar .menu .links .inicio {
  grid-column: x0/x1;
  grid-row: y0/y1;
}
.stick .nav .navbar .menu .links .conoceme {
  grid-column: x1/x2;
  grid-row: y0/y1;
}
.stick .nav .navbar .menu .links .webs {
  grid-column: x2/x3;
  grid-row: y0/y1;
}
.stick .nav .navbar .menu .links .gal {
  grid-column: x3/x4;
  grid-row: y0/y1;
}
.stick .nav .navbar .menu .links .curriculum {
  grid-column: x4/x5;
  grid-row: y0/y1;
}
.stick .nav .navbar .menu .links .contacto {
  grid-column: x5/x6;
  grid-row: y0/y1;
}
.stick .nav .navbar .menu .links .inicio:hover,
.stick .nav .navbar .menu .links .conoceme:hover,
.stick .nav .navbar .menu .links .webs:hover,
.stick .nav .navbar .menu .links .gal:hover,
.stick .nav .navbar .menu .links .videos:hover,
.stick .nav .navbar .menu .links .curriculum:hover,
.stick .nav .navbar .menu .links .contacto:hover,
.stick .nav .navbar .menu .links .inicio:focus,
.stick .nav .navbar .menu .links .conoceme:focus,
.stick .nav .navbar .menu .links .webs:focus,
.stick .nav .navbar .menu .links .gal:focus,
.stick .nav .navbar .menu .links .videos:focus,
.stick .nav .navbar .menu .links .curriculum:focus,
.stick .nav .navbar .menu .links .contacto:focus {
  background-color: rgba(78, 78, 32, 0.582);
}
.stick .mode {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.stick .mode img {
  position: absolute;
  width: calc(0.1rem + 3vw);
}
.stick .movil img {
  display: none;
}
.stick .mnav-link {
  display: none;
}
.stick .desplegable {
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav {
    display: none;
  }

  .movil {
    border-bottom: 0.05rem solid #e9d58d;
    display: block;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.438);
  }
  .movil .imagenes {
    padding: calc(0.5rem + 0.5vw);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .movil .imagenes .foto {
    cursor: pointer;
  }
  .movil .imagenes .foto img {
    display: block;
    border-radius: 75%;
    border: 3px double #e9d58d;
    width: calc(4vw + 5rem);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  }
  .movil .imagenes .botones {
    border: 0;
    outline: 0 none;
    background-color: transparent;
  }
  .movil .imagenes .botones #boton1 {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: Transparent;
  }
  .movil .imagenes .botones #boton1 img {
    display: block;
    width: calc(4vw + 5rem);
  }
  .movil .desplegable .enlace {
    margin: 1rem;
    border: 0;
    color: #e9d58d;
    cursor: pointer;
    font-size: 3rem;
    font-color: #e9d58d;
  }
  .movil .desplegable .mnav-link {
    display: block;
  }

  /* Y finalmente las animaciones */
}
@media only screen and (max-width: 800px) and (max-width: 800px) {
  section #links {
    display: none;
    background-color: pink;
  }
}
@media only screen and (max-width: 800px) {
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 800px) {
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}

/*# sourceMappingURL=nav.css.map */
