.stick {
  z-index: 1000;
  top: 0;
  width: 100%;
}
.stick .nav {
  border-bottom: 0.05rem solid #00C6EE;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.438);
}
.stick .nav .navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.stick .nav .navbar .foto {
  position: absolute;
  z-index: 1000;
}
.stick .nav .navbar .foto img {
  margin-top: calc(10px + 1vw);
  margin-left: calc(10px + 1vw);
  border-radius: 75%;
  border: 0.05rem solid #00C6EE;
  width: calc(3vw + 3rem);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}
.stick .nav .navbar .menu {
  padding: 3rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1000;
}
.stick .nav .navbar .menu .nuevo {
  display: grid;
  grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4] 1fr [x5] 1fr [x6] 1fr [x7];
  grid-template-rows: [y0] 1fr [y1];
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 80%;
}
.stick .nav .navbar .menu .nuevo .enlace {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 0 0 0;
  color: #00C6EE;
  padding: 1.6rem 0.5rem 1.6rem 0.5rem;
  min-width: 8rem;
  background-color: rgba(0, 0, 0, 0.582);
  font-size: 1.6rem;
  font-weight: bold;
  border: 0.05rem solid #00C6EE;
  border-radius: 0.9rem;
}
.stick .nav .navbar .menu .nuevo .inicio {
  grid-column: x0/x1;
  grid-row: y0/y1;
}
.stick .nav .navbar .menu .nuevo .conoceme {
  grid-column: x1/x2;
  grid-row: y0/y1;
}
.stick .nav .navbar .menu .nuevo .webs {
  grid-column: x2/x3;
  grid-row: y0/y1;
}
.stick .nav .navbar .menu .nuevo .gal {
  grid-column: x3/x4;
  grid-row: y0/y1;
}
.stick .nav .navbar .menu .nuevo .videos {
  grid-column: x4/x5;
  grid-row: y0/y1;
}
.stick .nav .navbar .menu .nuevo .curriculum {
  grid-column: x5/x6;
  grid-row: y0/y1;
}
.stick .nav .navbar .menu .nuevo .contacto {
  grid-column: x6/x7;
  grid-row: y0/y1;
}
.stick .nav .navbar .menu .nuevo .inicio:hover,
.stick .nav .navbar .menu .nuevo .conoceme:hover,
.stick .nav .navbar .menu .nuevo .webs:hover,
.stick .nav .navbar .menu .nuevo .gal:hover,
.stick .nav .navbar .menu .nuevo .videos:hover,
.stick .nav .navbar .menu .nuevo .curriculum:hover,
.stick .nav .navbar .menu .nuevo .contacto:hover,
.stick .nav .navbar .menu .nuevo .inicio:focus,
.stick .nav .navbar .menu .nuevo .conoceme:focus,
.stick .nav .navbar .menu .nuevo .webs:focus,
.stick .nav .navbar .menu .nuevo .gal:focus,
.stick .nav .navbar .menu .nuevo .videos:focus,
.stick .nav .navbar .menu .nuevo .curriculum:focus,
.stick .nav .navbar .menu .nuevo .contacto:focus {
  background-color: rgba(78, 78, 32, 0.582);
}
.stick .nav .navbar .menu .links {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: black;
}
.stick .nav .navbar .menu .links .nav-link {
  margin: 0 0.2rem 0 0.2rem;
  color: #00C6EE;
  padding: 1.6rem;
  border-radius: 0.9rem;
  border-color: #00C6EE;
  border-width: 0.05rem;
  background-color: rgba(0, 0, 0, 0.582);
  cursor: pointer;
}
.stick .nav .navbar .menu .links .nav-link font {
  size: 1.6rem;
}
.stick .nav .navbar .menu .links .nav-link:hover,
.stick .nav .navbar .menu .links .nav-link:focus {
  background-color: rgba(78, 78, 32, 0.582);
}
.stick .mode {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.stick .mode img {
  position: absolute;
  width: calc(0.1rem + 3vw);
}
.stick .movil img {
  display: none;
}
.stick .mnav-link {
  display: none;
}
.stick .desplegable {
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav {
    display: none;
  }

  .movil {
    border-bottom: 0.05rem solid #fff;
    display: block;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.438);
  }
  .movil .imagenes {
    padding: calc(0.5rem + 0.5vw);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .movil .imagenes .foto {
    cursor: pointer;
  }
  .movil .imagenes .foto img {
    display: block;
    border-radius: 75%;
    border: 3px double #000000;
    width: calc(4vw + 5rem);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  }
  .movil .imagenes .botones {
    border: 0;
    outline: 0 none;
    background-color: transparent;
  }
  .movil .imagenes .botones #boton1 {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: Transparent;
  }
  .movil .imagenes .botones #boton1 img {
    display: block;
    width: calc(4vw + 5rem);
  }
  .movil .desplegable {
    display: none;
  }
  .movil .desplegable button {
    display: none;
    margin: 1rem;
    border: 0;
    color: white;
    cursor: pointer;
    background-color: transparent;
  }
  .movil .desplegable .mnav-link {
    display: block;
  }

  /* Y finalmente las animaciones */
}
@media only screen and (max-width: 800px) and (max-width: 800px) {
  section #links {
    display: none;
    background-color: pink;
  }
}
@media only screen and (max-width: 800px) {
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 800px) {
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}

/*# sourceMappingURL=nav.css.map */
