@media only screen and (max-width: 991.99px) {
  section .nav {
    display: none;
  }
  section .movil {
    display: block;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(180, 12, 116, 0.438);
  }
  section .movil .imagenes {
    padding: calc(0.5rem + 0.5vw);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  section .movil .imagenes .foto img {
    border-radius: 75%;
    border: 3px double #000000;
    width: calc(4vw + 5rem);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  }
  section .movil .imagenes .botones {
    border: 0;
    outline: 0 none;
    background-color: transparent;
  }
  section .movil .imagenes .botones #boton1 {
    border: none;
    background-color: Transparent;
  }
  section .movil .imagenes .botones #boton1 img {
    width: calc(4vw + 5rem);
  }
  section .movil #links strong {
    color: gold;
    font-size: calc(10px + 1vw);
  }

  .desplegable {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Y finalmente las animaciones */
}
@media (max-width: 991.99px) {
  section #links {
    display: none;
  }
}
.stick {
  position: fixed;
  top: 0;
  width: 100%;
}
.stick .nav {
  border-bottom: 0.05rem solid #fff;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.438);
}
.stick .nav .navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.stick .nav .navbar .foto {
  position: absolute;
  z-index: 1;
}
.stick .nav .navbar .foto img {
  margin-top: calc(10px + 1vw);
  margin-left: calc(10px + 1vw);
  border-radius: 75%;
  border: 0.05rem solid #fff;
  width: calc(3vw + 3rem);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}
.stick .nav .navbar .menu {
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(100px + 1vw);
  width: 100%;
  position: relative;
  z-index: 1;
}
.stick .nav .navbar .menu .links {
  z-index: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: black;
}
.stick .nav .navbar .menu .links .nav-link {
  margin: 0 0.2rem 0 0.2rem;
  color: gray;
  padding: 1.6rem;
  border-radius: 0.9rem;
  border-color: gray;
  border-width: 0.05rem;
  background-color: rgba(0, 0, 0, 0.582);
  cursor: pointer;
}
.stick .nav .navbar .menu .links .nav-link font {
  size: 1.6rem;
}
.stick .nav .navbar .menu .links .nav-link:hover,
.stick .nav .navbar .menu .links .nav-link:focus {
  background-color: rgba(78, 78, 32, 0.582);
}
.stick .mode {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.stick .mode img {
  width: calc(0.1rem + 3vw);
}
.stick .movil img {
  display: none;
}
.stick .mnav-link {
  display: none;
}
.stick .desplegable {
  display: none;
}

@media only screen and (max-width: 991.99px) {
  section .nav {
    display: none;
  }
  section .movil {
    display: block;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(180, 12, 116, 0.438);
  }
  section .movil .imagenes {
    padding: calc(0.5rem + 0.5vw);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  section .movil .imagenes .foto img {
    border-radius: 75%;
    border: 3px double #000000;
    width: calc(4vw + 5rem);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  }
  section .movil .imagenes .botones {
    border: 0;
    outline: 0 none;
    background-color: transparent;
  }
  section .movil .imagenes .botones #boton1 {
    border: none;
    background-color: Transparent;
  }
  section .movil .imagenes .botones #boton1 img {
    width: calc(4vw + 5rem);
  }
  section .movil #links strong {
    color: gold;
    font-size: calc(10px + 1vw);
  }

  .movil {
    display: block;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 70;
    flex-direction: column;
    background-color: red;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
    background-color: rgba(0, 195, 255, 0.103);
    /* background-color: red; */
    background-size: cover;
  }

  .desplegable {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Y finalmente las animaciones */
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  /* Todo con CSS y HTML. */
}
@media (max-width: 991.99px) {
  section #links {
    display: none;
  }
}

/*# sourceMappingURL=nav.css.map */
