/* hovers*/
@font-face {
  font-family: "supercell";
  src: url(../../../fuentes/supercell-magic-webfont.ttf) format("truetype");
}
@font-face {
  font-family: "FontAwesome";
  src: url("fontawesome-webfont.woff");
}
@font-face {
  font-family: "titanium";
  src: url(../../../fuentes/pricedow.ttf) format("truetype");
}
.head {
  width: 100%;
  position: relative;
}
.head img {
  width: 100%;
}

.web {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.web .primeroscoc,
.web .guerrasonline,
.web .tiendaTitanium,
.web .titanium,
.web .portfolio {
  width: 95%;
  border-radius: 25px;
  border: 0.05rem solid #00C6EE;
  margin-top: 5rem;
  background-color: #000;
}
.web .primeroscoc .titulo,
.web .guerrasonline .titulo,
.web .tiendaTitanium .titulo,
.web .titanium .titulo,
.web .portfolio .titulo {
  background-image: url("../../../images/banners/vinewood.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 0px 0px;
  border-bottom: 0.05rem solid #00C6EE;
  background-size: cover;
}
.web .primeroscoc .titulo a,
.web .guerrasonline .titulo a,
.web .tiendaTitanium .titulo a,
.web .titanium .titulo a,
.web .portfolio .titulo a {
  text-decoration: none;
}
.web .primeroscoc .titulo h1,
.web .guerrasonline .titulo h1,
.web .tiendaTitanium .titulo h1,
.web .titanium .titulo h1,
.web .portfolio .titulo h1 {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 0px;
  -webkit-text-fill-color: #e3e4e5;
  -webkit-text-stroke: 1px black;
  font-family: titanium;
  font-size: 6rem;
}
.web .primeroscoc p,
.web .guerrasonline p,
.web .tiendaTitanium p,
.web .titanium p,
.web .portfolio p {
  font-family: "FontAwesome", sans-serif;
  padding: 1.5rem;
  font-size: 1.7rem;
  color: white;
}
.web .primeroscoc p a,
.web .guerrasonline p a,
.web .tiendaTitanium p a,
.web .titanium p a,
.web .portfolio p a {
  text-decoration: none;
  color: lightskyblue;
}
.web .primeroscoc p i,
.web .guerrasonline p i,
.web .tiendaTitanium p i,
.web .titanium p i,
.web .portfolio p i {
  color: green;
}
.web .primeroscoc .visitar,
.web .guerrasonline .visitar,
.web .tiendaTitanium .visitar,
.web .titanium .visitar,
.web .portfolio .visitar {
  color: lightskyblue;
  font-size: 3rem;
}
.web .tiendaTitanium .titulo {
  background-image: url("../../../images/banners/TitaniumRoleplay.png");
  background-position: center;
  background-size: cover;
}
.web .tiendaTitanium .titulo h1 {
  -webkit-text-fill-color: #8a9597;
  -webkit-text-stroke: 1px black;
  height: 0 auto;
  -webkit-text-stroke: 0.05rem black;
}
.web .primeroscoc .titulo,
.web .guerrasonline .titulo {
  background-image: url("../../../images/banners/primeros.jpg");
  background-position: center;
  background-size: cover;
}
.web .primeroscoc .titulo h1,
.web .guerrasonline .titulo h1 {
  -webkit-text-fill-color: orange;
  -webkit-text-stroke: 1px black;
  height: 0 auto;
  -webkit-text-stroke: 0.05rem black;
  text-shadow: 0.1em 0.1em brown;
  font-family: supercell;
  font-size: 4rem;
}
.web .primeroscoc p,
.web .guerrasonline p {
  color: white;
}
.web .primeroscoc p a,
.web .guerrasonline p a {
  text-decoration: none;
  color: gold;
}
.web .primeroscoc p i,
.web .guerrasonline p i {
  color: green;
}
.web .primeroscoc p .fa-undo-alt,
.web .guerrasonline p .fa-undo-alt {
  color: red;
  left: 0px;
}
.web .guerrasonline .titulo {
  background-image: url("../../../images/banners/guerrasonline.jpg");
  background-position: center;
  background-size: cover;
}
.web .guerrasonline .titulo h1 {
  -webkit-text-fill-color: gold;
}
.web .portfolio .titulo {
  background-image: url("../../../images/banners/micro-banner.jpg");
  background-position: center;
  background-size: cover;
}
.web .portfolio .titulo h1 {
  -webkit-text-fill-color: gold;
}

/*# sourceMappingURL=webs.css.map */
